/* COLOR PICKER */
.a-colorpicker {
    display: inline;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.color-selector {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
    border-color: var(--picker-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 1px;
}
/* /COLOR PICKER */
