/* ICON PICKER */
.a-iconpicker {
    display: inline-block;
    overflow: auto;
}

.icon-selector {
    text-align: center;
    cursor: pointer;
}

.icon-selector:hover {
    color: #555555 !important;
    background-color: #eeeeee !important;
}

.icon-selector-selected {
    color: #ffffff !important;
}
/* /ICON PICKER */
