/* AUTHENTICATION */
.auth-block {
    padding: 10px;
    box-shadow: var(--shadow-2);
    border-radius: var(--panel-border-radius);
    overflow: unset;
    flex-shrink: 0 !important;
}

.auth-separator {
    height: auto;
}

.auth-separator-text {
    font-size: 16px;
    padding: 16px 32px;
}

.auth-create-account {
    margin: 16px 0;
    width: 100%;
    color: #00aaee;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.auth-reset-password {
    margin: 16px 0;
    width: 100%;
    color: #00aaee;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

/* /AUTHENTICATION */